
.category {
    background-color: #a3a3a3;
    width: 300px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.task {
    background-color: #dedede;
    width: 80%;
    height: auto;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    border-radius:25px;
    
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
}
.solvedTask {
    background-color: #1eb31e !important;
}
p {   
    font-weight:bold;
    font-size: 14px;
    font-family: Arial;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
}
