.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.align-right {
  position:absolute;
  right: 10px;
}

@media all and (min-width: 850px) {
  .category {
    width: 400px;
    float: left;
    margin-right: 10px;
    padding-bottom: 20px;
  }
  .catList {
    width: 380px;
  }
}
@media all and (max-width: 849px) {
  .category {
    padding-bottom: 20px;
  }
}

.linkPointer {
    cursor: pointer;
}
.underlined {
    text-decoration:underline;
}

.date {
  width: 160px !important;
}

.positiveTask {
  border-left: 10px solid #9ED989;
}

.negativeTask {
  border-left: 10px solid #F5C7A2;
}

.positiveTaskDone {
  background-color: #9ED989;
  border-left: 10px solid #9ED989;
}

.negativeTaskDone {
  background-color: #F5C7A2;
  border-left: 10px solid #F5C7A2;
}

#introduction {
  margin: 20;
}